* {
	margin: 0;
	padding: 0;
}

main {
	display: grid;
	grid-template-columns: 2fr 1fr;
}
.screen {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
}
video {
	display: block;
	width: 100%;
}

.controls {
	position: relative;

	left: -10px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: transparent;
}
.playPause,
.timestamp {
	color: black;
}
div,
span,
input {
	padding: 10px;
}
input {
	width: 90%;
}

.playlist {
	display: grid;
	grid-template-columns: 2fr 1fr;
	border: 1px solid black;
}

@media screen and (max-width: 600px) {
	video,
	.controls {
		width: 90%;
	}
	main {
		display: grid;
		grid-template-columns: 1fr;
	}
}
